<p>*ngFor Directives in Angular>
<ul>
  <li *ngFor="let x of student">
    {{x}}
  </li>
</ul>
<ul>
  <li *ngFor="let student of studentsData">
    {{student.name}}
    {{student.age}}
    {{student.email}}
  </li>
</ul>

<hr>
<h1>ngIf Directives in Angular</h1>
<div *ngIf="login; else elseBlock">
  <a href="/">
    Logout
  </a>
</div>
<ng-template #elseBlock>
  <a href="/">
    login
  </a>
</ng-template>
<hr>
<h1>*ngSwitch Directives in Angular</h1>
<button (click)="changeColor('red')" >Red</button>
<button (click)="changeColor('green')" >green</button>
<button (click)="changeColor('yellow')" >yellow</button>
<button (click)="changeColor('')">No color</button>

<div [ngSwitch]="color">
  <h2 *ngSwitchCase="'red'" style="background-color: red;">Red Color</h2>
<h2 *ngSwitchCase="'green'" style="background-color: green;">green Color</h2>
<h2 *ngSwitchCase="'yellow'" style="background-color: yellow;">yellow Color</h2>
<h2 *ngSwitchDefault=>No Color Mach</h2>
</div>
<hr>
 <ul>
  <li>
     <a routerLink="/login">Login</a>
  </li>
   <li>
     <a routerLink="/profile">profile</a>
  </li>
   <li>
     <a routerLink="/project">project</a>
  </li>
</ul>


 