<p>*ngFor Directives in Angular>
<ul>
  <li *ngFor="let x of student">
    {{x}}
  </li>
</ul>
<ul>
  <li *ngFor="let student of studentsData">
    {{student.name}}
    {{student.age}}
    {{student.email}}
  </li>
</ul>

<hr>
<h1>ngIf Directives in Angular</h1>
<div *ngIf="login; else elseBlock">
  <a href="/">
    Logout
  </a>
</div>
<ng-template #elseBlock>
  <a href="/">
    login
  </a>
</ng-template>
<hr>
<h1>*ngSwitch Directives in Angular</h1>
<button (click)="changeColor('red')" >Red</button>
<button (click)="changeColor('green')" >green</button>
<button (click)="changeColor('yellow')" >yellow</button>
<button (click)="changeColor('')">No color</button>

<div [ngSwitch]="color">
  <h2 *ngSwitchCase="'red'" style="background-color: red;">Red Color</h2>
<h2 *ngSwitchCase="'green'" style="background-color: green;">green Color</h2>
<h2 *ngSwitchCase="'yellow'" style="background-color: yellow;">yellow Color</h2>
<h2 *ngSwitchDefault=>No Color Mach</h2>
</div>
<hr>
 <ul>
  <li>
     <a routerLink="/login">Login</a>
  </li>
   <li>
     <a routerLink="/profile">profile</a>
  </li>
   <li>
     <a routerLink="/project">project</a>
  </li>
</ul>

<hr>
<h1>Basic of Racet Forms</h1>
<form action="" method="post" >
  <input type="text" placeholder="enter Name" [formControl]="name">
  <br>
  <br>
  <input type="text" placeholder="enter password" [formControl]="password">
  <br><br>
  <button type="button" (click)="displayValue()" >Login</button> 
  <h3>{{name.value}}</h3> 
  <h3>{{password.value}}</h3> 

</form>

<hr>
<h1>Form Grouping in Reactive Forms</h1>
<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
 <input type="text" placeholder="enter name" formControlName="name">
 <br><br>
  <input type="text" placeholder="enter password" formControlName="password">
 <br><br>
  <input type="text" placeholder="enter email" formControlName="email">
 <br><br>
 <button>Submit</button>
 <button type="button" (click)=" setValue()" >Set Value</button>

</form>
<h1>{{this.profileForm.value.name}}</h1>
<h1>{{this.profileForm.value.password}}</h1>
<h1>{{this.profileForm.value.email}}</h1>



